# Eclipse
.cache
.classpath
.project
.settings

# IntelliJ
.idea
*.iml

# OSX
.DS_Store

# VSCode
.metals

# Theme
functions
node_modules
public
resources

# Hugo
.hugo_build.lock
package.json
package-lock.json
go.sum
