.home .card,
.contributors.list .card,
.tutorials.list .card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}

.home .card:hover,
.contributors.list .card:hover,
.tutorials.list .card:hover {
  transform: scale(1.025);
}

.home .card-body,
.contributors.list .card-body,
.tutorials.list .card-body {
  padding: 0 2rem 1rem;
}

.tutorials-header {
  text-align: center;
  margin-bottom: 2rem;
}

.tutorials-footer {
  text-align: center;
}
