.alert {
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
}

.alert-icon {
  margin-right: 0.75rem;
}

.docs .alert {
  margin: 2rem -1.5rem;
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-dark {
  color: $white;
  background-color: $black;
}

.alert-dark .alert-link {
  color: $white;
}

.alert-light {
  color: $black;
}

.alert-danger {
  border-left: .5em solid #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}

body.dark .alert-danger {
  border-left: .5em solid darken(#882d31, 10);
  background-color: #882d31;
  color: inherit;
}

.alert-tip {
  border-left: .5em solid #bee5eb;
  background-color: #d1ecf1;
  color: #0c5460;
}

body.dark .alert-tip {
  border-left: .5em solid darken(#106082, 10);
  background-color: #106082;
  color: inherit;
}

.alert-warning {
  border-left: .5em solid #ffeeba;
  background-color: #fff3cd;
  color: #856404;
}

body.dark .alert-warning {
  border-left: .5em solid darken(#7f650a, 10);
  background-color: #7f650a;
  color: inherit;
}

/*
.alert-light {
  color: #215888;
  background: linear-gradient(-45deg, rgb(212, 245, 255), rgb(234, 250, 255), rgb(234, 250, 255), #d3f6ef);
}

.alert-light .alert-link {
  color: #215888;
}
*/

.alert-white {
  background-color: rgba(255, 255, 255, 0.95);
}

.alert-primary {
  color: $white;
  background-color: $primary;
}

.alert-primary .alert-link {
  color: $white;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}
